.statistic{
    background-image: url(https://images.pexels.com/photos/3228766/pexels-photo-3228766.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
};